__pycache__/
*.py[cod]
.venv/
venv/
.env
logs/

trash/
trash0604/
trash0608/

*.mp4
*.webm

robot_camera_calibration_samples/*/sample_*.jpg
robot_camera_calibration_samples/*/rejected/

runs/**
!runs/end_effector_yolo12n_416_safe/
!runs/end_effector_yolo12n_416_safe/weights/
!runs/end_effector_yolo12n_416_safe/weights/best.pt
!runs/end_effector_yolo12n_416_safe/weights/last.pt
